


.App {
  margin-bottom: 400px;
   padding: 20px;    
   margin-left: 350px;
 }
 

button {
  margin: 10px;
  font-size: 3px;
}



.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 6px;             
}

